<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<add name="JDEConnection"
			 connectionString="Data Source=LBHA1-IND-DBC1V\sanitajde;
         Initial Catalog=JDE_Production;
         User ID=itsanita;
         Password=MCSEFTP;
         TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>

		<add name="BIConnection"
			 connectionString="Data Source=LBHO1-IND-BIS1V;
         Initial Catalog=AFHBIDB;
		 Password=P@ssw0rd;
         Integrated Security=True;
         TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>

	</connectionStrings>

</configuration>